body {
    margin: 0;
    line-height: normal;
  }
  .frame-div1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-md);
    background-color: #EAEDFD;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
    width: 757px;
    height: 631px;
  }
  .frame-div2 {
    position: absolute;
    top: 84px;
    left: 90px;
    border-radius: 9px;
    background-color: var(--color-white);
    width: 605px;
    height: 478px;
  }
  .logo-icon,
  .my-profile-icon {
    position: absolute;
    top: 40px;
    object-fit: cover;
  }
  .my-profile-icon {
    left: 641px;
    border-radius: 208.5px;
    width: 33px;
    height: 33px;
  }
  .logo-icon {
    left: 38px;
    width: 38px;
    height: 36px;
  }
  .line-div {
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    border-right: 1px solid var(--color-gray-400);
    box-sizing: border-box;
    width: 1px;
    height: 24px;
  }
  .products-div,
  .selected-div {
    position: absolute;
    top: 4px;
    left: 22px;
    font-weight: 600;
    display: inline-block;
  }
  .selected-div {
    left: 97px;
    color: var(--color-gray-300);
  }
  .headline-div {
    position: absolute;
    top: 45px;
    left: 87px;
    width: 149px;
    height: 23px;
    font-size: var(--font-size-3xl);
    font-family: var(--font-inter);
  }
  .bell-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 16px;
    object-fit: cover;
  }
  .ellipse-icon {
    position: absolute;
    top: 0;
    left: 7px;
    width: 5px;
    height: 5px;
  }
  .chat-icon,
  .notification-div {
    position: absolute;
    top: 48px;
    left: 605px;
    width: 14px;
    height: 16px;
  }
  .chat-icon {
    left: 573px;
    width: 19px;
    height: 15px;
  }
  .recent-products-div1 {
    position: absolute;
    top: 2px;
    left: 12px;
    font-weight: 600;
    display: inline-block;
    width: 63px;
    height: 10px;
  }
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-2xs);
    background-color: var(--color-green-100);
    width: 7.15px;
    height: 15.18px;
  }
  .recent-products-div,
  .rectangle-div1 {
    position: absolute;
    top: 304px;
    left: 103px;
    width: 75px;
    height: 15.18px;
  }
  .rectangle-div1 {
    top: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--color-violet-100);
    width: 52px;
    height: 16px;
  }
  .line-div1 {
    position: absolute;
    top: 6.5px;
    left: 4.5px;
    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 10px;
    height: 1px;
  }
  .order-div {
    position: absolute;
    top: 2px;
    left: 21px;
    font-weight: 600;
    display: inline-block;
    mix-blend-mode: normal;
  }
  .line-div2 {
    position: absolute;
    top: 2.5px;
    left: 8.5px;
    border-right: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 1px;
    height: 10px;
  }
  .order-icon-div {
    position: absolute;
    top: 49px;
    left: 508px;
    width: 52px;
    height: 16px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .rectangle-div3 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-md);
    background-color: #c9ecd7;
    width: 144px;
    height: 167px;
  }
  .rectangle-div4 {
    position: absolute;
    top: 8.1px;
    left: 9.19px;
    border-radius: var(--br-2xs);
    background-color: var(--color-pink);
    width: 7.15px;
    height: 15.18px;
  }
  .product-views-div2 {
    position: absolute;
    top: 9.11px;
    left: 20.43px;
    display: inline-block;
    width: 46.98px;
    height: 10.12px;
  }
  .product-views-div1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 167px;
    font-size: var(--font-size-base);
    color: var(--color-black);
  }
  .rectangle-div5 {
    position: absolute;
    top: 61.74px;
    left: 26.55px;
    border-radius: var(--br-2xs);
    background-color: var(--color-pink);
    width: 7.15px;
    height: 84.01px;
  }
  .last-7-days {
    position: absolute;
    top: 12.15px;
    left: 113.36px;
    font-size: 2.7px;
    color: var(--color-gray-400);
    display: inline-block;
    width: 16.34px;
    height: 2.02px;
  }
  .rectangle-div6 {
    position: absolute;
    bottom: 120px;
    left: 110px;
    border-radius: var(--br-xs);
    background-color: transparent;
    border: 0.7px solid var(--color-white);
    box-sizing: border-box;
    width: 27px;
    height: 10px;
  }
  .line-icon {
    position: absolute;
    top: 14.1px;
    left: 130.65px;
    width: 2.18px;
    height: 1.22px;
  }
  .rectangle-div7,
  .rectangle-div8 {
    position: absolute;
    top: 88.05px;
    left: 42.89px;
    border-radius: var(--br-2xs);
    background-color: #fdbc98;
    width: 7.15px;
    height: 57.69px;
  }
  .rectangle-div8 {
    top: 41.5px;
    left: 59.23px;
    background-color: #2b85ff;
    height: 104.25px;
  }
  .rectangle-div10,
  .rectangle-div11,
  .rectangle-div12,
  .rectangle-div9 {
    position: absolute;
    top: 101.21px;
    left: 74.55px;
    border-radius: var(--br-2xs);
    background-color: #8984fb;
    width: 7.15px;
    height: 44.53px;
  }
  .rectangle-div10,
  .rectangle-div11,
  .rectangle-div12 {
    top: 74.9px;
    left: 90.89px;
    background-color: #8a84fb;
    height: 70.85px;
  }
  .rectangle-div11,
  .rectangle-div12 {
    top: 84.01px;
    left: 123.57px;
    background-color: #90eab8;
    height: 61.74px;
  }
  .rectangle-div12 {
    top: 111.33px;
    left: 107.23px;
    background-color: #febd96;
    height: 34.41px;
  }
  .div,
  .div1,
  .div2,
  .div3 {
    position: absolute;
    top: 37.45px;
    left: 8.17px;
    display: inline-block;
    width: 6.13px;
    height: 7.08px;
  }
  .div1,
  .div2,
  .div3 {
    top: 54.65px;
  }
  .div2,
  .div3 {
    top: 71.86px;
  }
  .div3 {
    top: 89.07px;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9,
  .february-div {
    position: absolute;
    top: 106.27px;
    left: 8.17px;
    display: inline-block;
    width: 6.13px;
    height: 7.08px;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9,
  .february-div {
    top: 123.48px;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .div6,
  .div7,
  .div8,
  .div9,
  .february-div {
    top: 140.68px;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .div7,
  .div8,
  .div9,
  .february-div {
    top: 152.83px;
    left: 26.55px;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .div8,
  .div9,
  .february-div {
    left: 42.89px;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .div9,
  .february-div {
    left: 59.23px;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .february-div {
    left: 75.57px;
  }
  .div11,
  .div12,
  .div13,
  .february-div {
    left: 91.91px;
  }
  .div12,
  .div13,
  .february-div {
    left: 108.26px;
  }
  .div13,
  .february-div {
    left: 124.6px;
  }
  .february-div {
    top: 48.58px;
    left: 66.38px;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
    width: 13.28px;
    height: 3.04px;
  }
  .rectangle-div13 {
    position: absolute;
    top: 45.55px;
    left: 64.34px;
    border-radius: var(--br-xs) var(--br-xs) var(--br-xs) 0;
    background-color: #010a15;
    width: 17.36px;
    height: 11.13px;
  }
  .k-div {
    position: absolute;
    top: 52px;
    left: 71px;
    font-size: 2px;
    font-weight: 600;
    color: var(--color-white);
    display: inline-block;
    width: 5.11px;
    height: 3.04px;
  }
  .rectangle-div14 {
    position: absolute;
    top: 52.63px;
    left: 66.38px;
    border-radius: 0.4px;
    background-color: var(--color-green-100);
    width: 3.06px;
    height: 2.02px;
  }
  .february-div1 {
    position: absolute;
    top: 48px;
    left: 66px;
    font-size: var(--font-size-2xs);
    color: var(--color-white);
    display: inline-block;
  }
  .product-views-div {
    position: absolute;
    top: 93px;
    left: 541px;
    width: 144px;
    height: 167px;
    font-size: var(--font-size-xs);
    color: var(--color-gray-300);
  }
  .rectangle-div15 {
    position: absolute;
    top: 12px;
    left: 0;
    border-radius: 13px;
    background-color: #f3d660;
    width: 429px;
    height: 169px;
  }
  .rectangle-div16 {
    position: absolute;
    top: 50px;
    left: 279px;
    background-color: var(--color-black);
    width: 54px;
    height: 63px;
  }
  .b {
    position: absolute;
    top: 68px;
    left: 132px;
    font-size: 100px;
    line-height: 116%;
    display: inline-block;
    color: rgba(0, 0, 0, 0.02);
    width: 512px;
    height: 26px;
  }
  .screenshot-2022-11-19-at-450 {
    position: absolute;
    top: 0;
    left: 190px;
    width: 227px;
    height: 219px;
    object-fit: cover;
  }
  .explore-new-b {
    position: absolute;
    top: 25px;
    left: 29px;
    font-size: 30px;
    line-height: 116%;
    display: inline-block;
    width: 206px;
    height: 42px;
  }
  .rectangle-div17 {
    position: absolute;
    top: 81px;
    left: 27px;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    width: 116px;
    height: 62px;
  }
  .air-spain-b {
    position: absolute;
    top: 87px;
    left: 36px;
    font-size: var(--font-size-2xl);
    line-height: 116%;
    display: inline-block;
    width: 48px;
    height: 14px;
  }
  .rectangle-div18 {
    position: absolute;
    top: 128px;
    left: 36px;
    border-radius: var(--br-lg);
    background-color: var(--color-gray-100);
    width: 27px;
    height: 10px;
  }
  .colors-div,
  .div14,
  .div15 {
    position: absolute;
    line-height: 116%;
    display: inline-block;
  }
  .colors-div {
    top: 129px;
    left: 40px;
    font-size: var(--font-size-sm);
    color: var(--color-indigo);
    width: 25px;
    height: 14px;
  }
  .div14,
  .div15 {
    top: 105px;
    left: 36px;
    font-family: var(--font-open-sans);
    color: var(--color-green-200);
    width: 32px;
    height: 12px;
  }
  .div15 {
    left: 71px;
    color: var(--color-brown);
  }
  .line-div5 {
    position: absolute;
    top: 109.8px;
    left: 70.8px;
    border-top: 0.4px solid var(--color-black);
    box-sizing: border-box;
    width: 27.4px;
    height: 0.4px;
  }
  .ellipse-icon1,
  .ellipse-icon2 {
    position: absolute;
    top: 131px;
    left: 110px;
    width: 6px;
    height: 6px;
  }
  .ellipse-icon2 {
    top: 132px;
    left: 111px;
    width: 4px;
    height: 4px;
  }
  .ellipse-icon3,
  .ellipse-icon4,
  .ellipse-icon5,
  .ellipse-icon6 {
    position: absolute;
    top: 132px;
    left: 117px;
    width: 4px;
    height: 4px;
  }
  .ellipse-icon4,
  .ellipse-icon5,
  .ellipse-icon6 {
    left: 122px;
  }
  .ellipse-icon5,
  .ellipse-icon6 {
    left: 127px;
  }
  .ellipse-icon6 {
    left: 132px;
  }
  .div16,
  .ellipse-icon7,
  .k-div1 {
    position: absolute;
    top: 153.79px;
    left: 382.34px;
    width: 11.32px;
    height: 13.07px;
  }
  .div16,
  .k-div1 {
    top: 157.18px;
    left: 366px;
    font-size: 25px;
    line-height: 110%;
    font-family: var(--font-hammersmith-one);
    display: inline-block;
    width: 77.58px;
    height: 12.94px;
    transform: rotate(-27.8deg);
    transform-origin: 0 0;
  }
  .div16 {
    top: 134.57px;
    left: 398px;
    font-size: 20px;
    width: 20.53px;
    height: 33.04px;
  }
  .explore-product-div {
    position: absolute;
    top: 81px;
    left: 100px;
    width: 644px;
    height: 211px;
    font-family: var(--font-ibm-plex-sans-hebrew);
  }
  .rectangle-div19 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: #67eaea;
    width: 126px;
    height: 139px;
  }
  .rectangle-div20,
  .rectangle-div21 {
    position: absolute;
    top: 36px;
    left: 49px;
    background-color: var(--color-black);
    width: 35px;
    height: 42px;
  }
  .rectangle-div21 {
    top: 149px;
    left: 5px;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    width: 116px;
    height: 62px;
  }
  .air-spain-b1 {
    position: absolute;
    top: 155px;
    left: 14px;
    font-size: var(--font-size-2xl);
    line-height: 116%;
    display: inline-block;
    width: 48px;
    height: 14px;
  }
  .rectangle-div22 {
    position: absolute;
    top: 196px;
    left: 14px;
    border-radius: var(--br-lg);
    background-color: var(--color-gray-100);
    width: 27px;
    height: 10px;
  }
  .colors-div1,
  .div17,
  .div18 {
    position: absolute;
    line-height: 116%;
    display: inline-block;
  }
  .colors-div1 {
    top: 197px;
    left: 18px;
    font-size: var(--font-size-sm);
    color: var(--color-indigo);
    width: 25px;
    height: 14px;
  }
  .div17,
  .div18 {
    top: 173px;
    left: 14px;
    font-family: var(--font-open-sans);
    color: var(--color-green-200);
    width: 32px;
    height: 12px;
  }
  .div18 {
    left: 49px;
    color: var(--color-brown);
  }
  .line-div6 {
    position: absolute;
    top: 177.8px;
    left: 48.8px;
    border-top: 0.4px solid var(--color-black);
    box-sizing: border-box;
    width: 27.4px;
    height: 0.4px;
  }
  .ellipse-icon8,
  .ellipse-icon9 {
    position: absolute;
    top: 199px;
    left: 88px;
    width: 6px;
    height: 6px;
  }
  .ellipse-icon9 {
    top: 200px;
    left: 89px;
    width: 4px;
    height: 4px;
  }
  .ellipse-icon10,
  .ellipse-icon11,
  .ellipse-icon12,
  .ellipse-icon13 {
    position: absolute;
    top: 200px;
    left: 95px;
    width: 4px;
    height: 4px;
  }
  .ellipse-icon11,
  .ellipse-icon12,
  .ellipse-icon13 {
    left: 100px;
  }
  .ellipse-icon12,
  .ellipse-icon13 {
    left: 105px;
  }
  .ellipse-icon13 {
    left: 110px;
  }
  .screenshot-2022-11-19-at-4501 {
    position: absolute;
    top: 6px;
    left: -4px;
    width: 134px;
    height: 126px;
    object-fit: cover;
  }
  .product-4-div {
    position: absolute;
    top: 331px;
    left: 555px;
    width: 126px;
    height: 211px;
    font-family: var(--font-ibm-plex-sans-hebrew);
  }
  .rectangle-div23 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: #837df7;
    width: 126px;
    height: 139px;
  }
  .nike-netro-b {
    position: absolute;
    top: 155px;
    left: 14px;
    font-size: var(--font-size-2xl);
    line-height: 116%;
    display: inline-block;
    width: 75px;
    height: 14px;
  }
  .image-1-icon {
    position: absolute;
    top: 30px;
    left: -2px;
    width: 132px;
    height: 117px;
    object-fit: cover;
  }
  .product-3-div {
    position: absolute;
    top: 331px;
    left: 403px;
    width: 126px;
    height: 211px;
    font-family: var(--font-ibm-plex-sans-hebrew);
  }
  .rectangle-div26 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: #f1e2fd;
    width: 126px;
    height: 139px;
  }
  .rectangle-div27 {
    position: absolute;
    top: 149px;
    left: 2px;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    width: 116px;
    height: 62px;
  }
  .nike-jordan-b {
    position: absolute;
    top: 155px;
    left: 11px;
    font-size: var(--font-size-2xl);
    line-height: 116%;
    display: inline-block;
    width: 86px;
    height: 14px;
  }
  .rectangle-div28 {
    position: absolute;
    top: 196px;
    left: 11px;
    border-radius: var(--br-lg);
    background-color: var(--color-gray-100);
    width: 27px;
    height: 10px;
  }
  .colors-div3,
  .div21,
  .div22 {
    position: absolute;
    line-height: 116%;
    display: inline-block;
  }
  .colors-div3 {
    top: 197px;
    left: 15px;
    font-size: var(--font-size-sm);
    color: var(--color-indigo);
    width: 25px;
    height: 14px;
  }
  .div21,
  .div22 {
    top: 173px;
    left: 11px;
    font-family: var(--font-open-sans);
    color: var(--color-green-200);
    width: 32px;
    height: 12px;
  }
  .div22 {
    left: 46px;
    color: var(--color-brown);
  }
  .line-div8 {
    position: absolute;
    top: 177.8px;
    left: 45.8px;
    border-top: 0.4px solid var(--color-black);
    box-sizing: border-box;
    width: 27.4px;
    height: 0.4px;
  }
  .ellipse-icon20 {
    position: absolute;
    top: 199px;
    left: 85px;
    width: 6px;
    height: 6px;
  }
  .ellipse-icon21,
  .ellipse-icon22 {
    position: absolute;
    top: 200px;
    left: 86px;
    width: 4px;
    height: 4px;
  }
  .ellipse-icon22 {
    left: 92px;
  }
  .ellipse-icon23,
  .ellipse-icon24,
  .ellipse-icon25,
  .image-2-icon {
    position: absolute;
    top: 200px;
    left: 97px;
    width: 4px;
    height: 4px;
  }
  .ellipse-icon24,
  .ellipse-icon25,
  .image-2-icon {
    left: 102px;
  }
  .ellipse-icon25,
  .image-2-icon {
    left: 107px;
  }
  .image-2-icon {
    top: 10px;
    left: -3px;
    width: 134px;
    height: 146px;
    object-fit: cover;
  }
  .product-2-div {
    position: absolute;
    top: 331px;
    left: 252px;
    width: 127px;
    height: 211px;
    font-family: var(--font-ibm-plex-sans-hebrew);
  }
  .rectangle-div29 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: #75f197;
    width: 126px;
    height: 139px;
  }
  .rectangle-div30 {
    position: absolute;
    top: 149px;
    left: 0;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    width: 116px;
    height: 62px;
  }
  .nike-air-b {
    position: absolute;
    top: 155px;
    left: 9px;
    font-size: var(--font-size-2xl);
    line-height: 116%;
    display: inline-block;
    width: 48px;
    height: 14px;
  }
  .rectangle-div31 {
    position: absolute;
    top: 196px;
    left: 9px;
    border-radius: var(--br-lg);
    background-color: var(--color-gray-100);
    width: 27px;
    height: 10px;
  }
  .colors-div4,
  .div23,
  .div24 {
    position: absolute;
    line-height: 116%;
    display: inline-block;
  }
  .colors-div4 {
    top: 197px;
    left: 13px;
    font-size: var(--font-size-sm);
    color: var(--color-indigo);
    width: 25px;
    height: 14px;
  }
  .div23,
  .div24 {
    top: 173px;
    left: 9px;
    font-family: var(--font-open-sans);
    color: var(--color-green-200);
    width: 32px;
    height: 12px;
  }
  .div24 {
    left: 44px;
    color: var(--color-brown);
  }
  .line-div9 {
    position: absolute;
    top: 177.8px;
    left: 43.8px;
    border-top: 0.4px solid var(--color-black);
    box-sizing: border-box;
    width: 27.4px;
    height: 0.4px;
  }
  .ellipse-icon26 {
    position: absolute;
    top: 199px;
    left: 83px;
    width: 6px;
    height: 6px;
  }
  .ellipse-icon27,
  .ellipse-icon28,
  .image-3-icon {
    position: absolute;
    top: 200px;
    left: 84px;
    width: 4px;
    height: 4px;
  }
  .ellipse-icon28,
  .image-3-icon {
    left: 90px;
  }
  .image-3-icon {
    top: 10px;
    left: 2px;
    width: 124px;
    height: 129px;
    object-fit: cover;
  }
  .product-1-div {
    position: absolute;
    top: 331px;
    left: 100px;
    width: 126px;
    height: 211px;
    font-family: var(--font-ibm-plex-sans-hebrew);
  }
  .rectangle-div32 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--color-violet-100);
    width: 60px;
    height: 19px;
  }
  .new-post-div1 {
    position: absolute;
    top: 4px;
    left: 11px;
    font-weight: 600;
    display: inline-block;
    mix-blend-mode: normal;
  }
  .new-post-div {
    position: absolute;
    top: 304px;
    left: 607px;
    width: 60px;
    height: 19px;
    font-size: var(--font-size-lg);
    color: var(--color-white);
  }
  .line-icon1,
  .rectangle-div33 {
    position: absolute;
    top: 4.6px;
    left: 124.7px;
    width: 8.6px;
    height: 4.03px;
  }
  .rectangle-div33 {
    top: 11px;
    left: 0;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #f9f7f7;
    box-sizing: border-box;
    width: 135px;
    height: 65px;
  }
  .rectangle-div34,
  .rectangle-div35 {
    position: absolute;
    top: 17px;
    left: 6px;
    border-radius: var(--br-sm);
    background-color: #edecec;
    width: 123px;
    height: 26px;
  }
  .rectangle-div35 {
    top: 44px;
    background-color: #fafafa;
  }
  .last-30-days,
  .last-90-days {
    position: absolute;
    left: 17px;
    font-weight: 600;
    display: inline-block;
    mix-blend-mode: normal;
  }
  .last-30-days {
    top: 24px;
    color: #b6b6b6;
  }
  .last-90-days {
    top: 49px;
  }
  .rectangle-div36 {
    position: absolute;
    bottom: 32px;
    left: 69px;
    border-radius: var(--br-xs);
    background-color: transparent;
    border: 0.7px solid var(--color-gray-200);
    box-sizing: border-box;
    width: 69px;
    height: 19px;
  }
  .last-7-days1 {
    position: absolute;
    top: 0;
    left: 75px;
    font-weight: 600;
    display: inline-block;
    mix-blend-mode: normal;
  }
  .drop-down-div {
    position: absolute;
    top: 307px;
    left: 449px;
    width: 138px;
    height: 76px;
    font-size: var(--font-size-lg);
    color: var(--color-gray-200);
  }
  .icons {
    top: 0;
    left: 0;
    height: 229px;
    object-fit: cover;
  }
  .help-icon,
  .icon-div,
  .icons {
    position: absolute;
    width: 45px;
  }
  .help-icon {
    top: 389px;
    left: 0;
    height: 33px;
    object-fit: cover;
  }
  .icon-div {
    top: 144px;
    left: 38px;
    height: 422px;
  }
  .frame-div {
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 631px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-open-sans);
  }
  